@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Sansita');

.MMM-rfacts {
    width: 325px;	
}
.MMM-rfacts .title {
	font-size: 22px;
	font-family: 'Oswald', sans-serif;
	color: #f5ab58;
	float: left;
	transform: rotate(90deg);
	transform-origin: left top 0;
}
.MMM-rfacts .description {
	font-family: 'Sansita', sans-serif;
	font-size: 22px;
	float: left;
	padding-left: 10px;
}